* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  position: relative;
  height: 55.48611vw;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12.5vw;
}
footer {
  height: 16.9444vw;
  background-color: var(--black);
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}
h1 {
  font-style: normal;
  font-family: "Big Shoulders Display";
  font-weight: 900;
  font-size: 6.66667vw;
  line-height: 6.11111vw;
  color: white;
  position: absolute;
  top: 13.125vw;
  left: 11.52vw;
}
h2 {
  font-family: "Big Shoulders Display";
  font-size: 4.166667vw;
  line-height: 4.166667vw;
  color: var(--black);
  font-weight: 900;
  padding-top: 4.72222vw;
}

p {
  font-family: "outfit";
  font-size: 1.52778vw;
  line-height: 2.2222vw;
  font-weight: 300;
}
a {
  text-decoration: none;
}
section {
  background: var(--black);
}
h3 {
  font-family: "Big Shoulders Display";
  font-style: normal;
  font-weight: 900;
  font-size: 2.5vw;
  line-height: 2.5vw;
  color: var(--brick);
}
:root {
  --black: #151515;
  --grey: #444444;
  --brick: #d5966c;
}
.h1-black {
  left: 31.5vw;
  color: var(--black);
}
.tablet-h1 {
  display: none;
}
.hd-img {
  width: 37.7vw;
  height: 55.48611vw;
  width: 37.7vw;
}
.tablet-header-image {
  display: none;
  width: 56.7532vw;
  height: 90.909vw;
}
.header-container {
  background-color: var(--black);
  display: inline-block;
  height: 55.48611vw;
}
.black {
  width: 31.25vw;
  height: 55.48611vw;
  background-color: var(--black);
  display: inline-block;
  border: none;
}
.header-image {
  display: inline-block;
  border: none;
}
.header-text {
  color: var(--grey);
  width: 24.30555vw;
  height: 11.1111vw;
  position: absolute;
  top: 13.19444vw;
  left: 64.23611vw;
}
.button {
  font-family: "Big Shoulders Display";
  display: grid;
  grid-template-columns: 80% 20%;
  width: 18.05555vw;
  height: 5vw;
  position: absolute;
  left: 64.23611vw;
  top: 29.57142vw;
  color: white;
  font-size: 1.388889vw;
  font-weight: 800;
  line-height: 1.6625vw;
  letter-spacing: 0.252778vw;
}
.button-loc {
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover .button-loc {
  background-color: var(--brick);
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--brick);
}
.button:hover .arrow {
  background-color: var(--black);
}
.mob-container {
  display: none;
}
.text-image {
  margin-top: 12.5vw;
  width: 77.08333vw;
  display: grid;
  grid-template-columns: 30.9027778vw 44.097222vw;
  grid-column-gap: 2.083333vw;
}
.main-image {
  width: 44.097222vw;
  height: 27.77778vw;
}
.tablet-main-image {
  display: none;
}
.mob-header-image {
  display: none;
}
.tablet-h2 {
  display: none;
}
.main-text p {
  color: var(--grey);
  padding-top: 2.2222vw;
  padding-right: 8.680555vw;
}
.only-images {
  margin-top: 2.083333vw;
  width: 77.08333vw;
  display: grid;
  grid-template-columns: 44.097222vw 30.9027778vw;
  grid-template-rows: 21.73611vw 26.18055vw;
  grid-column-gap: 2.083333vw;
  grid-row-gap: 2.083333vw;
}
.left-column {
  grid-row-end: span 2;
}
.left-img {
  width: 44.097222vw;
  height: 50vw;
}
.tablet-left-img {
  display: none;
}
.right-image {
  width: 30.9027778vw;
  height: 21.73611vw;
  display: inline-block;
}
.tablet-right-image {
  display: none;
}
.right-text {
  grid-row-start: 2;
  grid-column-start: 2;
  background-color: var(--black);
  color: white;
}
.right-text h2 {
  color: white;
  padding-top: 4.5138889vw;
  padding-left: 3.3333vw;
}
.right-text p {
  padding-left: 3.3333vw;
  padding-top: 2.2222vw;
}
.footer-logo {
  padding-left: 11.45833vw;
  width: 11.11vw;
  height: 4.0277778vw;
}
footer p {
  width: 29.86111vw;
  padding-left: 9.72222vw;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 1.94444vw;
}

.fb {
  cursor: pointer;
  position: absolute;
  top: 5.55556vw;
  right: 18vw;
}
.insta {
  cursor: pointer;
  position: absolute;
  top: 5.55556vw;
  right: 14.5vw;
}
.twitter {
  cursor: pointer;
  position: absolute;
  top: 5.65vw;
  right: 11.458vw;
}
/* .fb:hover,
.insta:hover,
.twitter:hover {
  background: var(--brick);
} */
.loc-image {
  width: 100vw;
  height: 41.7vw;
}
.tablet-loc-image {
  display: none;
}
.mob-loc-image {
  display: none;
}
.loc-button {
  position: absolute;
  left: 10.83333vw;
  top: 0;
}
.loc-black {
  width: 100vw;
  height: 38.0555vw;
  background: var(--black);
  border-top: 0.34722vw solid var(--black);
  position: relative;
  display: grid;
  grid-template-columns: 51% 49%;
}
.loc-h2 {
  color: white;
  padding-left: 11.458vw;
  padding-top: 7.222vw;
  display: inline-block;
}
.address p {
  color: white;

  padding-top: 1.6666vw;
}
.tablet-loc-p2 {
  display: none;
}
.loc-text {
  position: relative;
  display: inline-block;
  padding-left: 11.458vw;
}
.our-location {
  display: inline-block;
  position: relative;
}
.mob-loc-black {
  display: none;
}
.loc-h3 {
  padding-top: 7.222vw;
}
.loc-footer {
  background: var(--brick);
}
.loc-footer p {
  color: var(--black);
}
.loc-fb {
  cursor: pointer;
  position: absolute;
  top: 5.55556vw;
  right: 18vw;
}
.loc-insta {
  cursor: pointer;
  position: absolute;
  top: 5.55556vw;
  right: 14.5vw;
}
.loc-twitter {
  cursor: pointer;
  position: absolute;
  top: 5.65vw;
  right: 11.458vw;
}
.loc-fb:hover,
.loc-insta:hover,
.loc-twitter:hover {
  background: white;
}
svg:hover path {
  fill: var(--brick);
}
/* ---------------------------------
  -----------------------------------
  --------- MEDIAQUERY */
@media screen and (max-width: 770px) {
  h1 {
    color: var(--black);
    padding-left: 38.5194vw;
    padding-top: 6.493vw;
    font-style: normal;
    font-family: "Big Shoulders Display";
    font-weight: 900;
    font-size: 9.09vw;
    line-height: 8.4415vw;
  }
  p {
    font-size: 2.3376vw;
    line-height: 3.6363vw;
  }
  .desktop-h1 {
    display: none;
  }
  .h1-black {
    display: none;
  }
  .tablet-h1 {
    display: block;
  }
  .tablet-header-image {
    display: inline-block;
  }
  .hd-img {
    display: none;
  }
  .black {
    display: none;
  }
  header {
    height: 90.909vw;
  }
  .header-text {
    width: 44.025vw;
    height: 14.5454vw;
    position: absolute;
    top: 41.948vw;
    left: 50.5194vw;
  }
  .button {
    position: absolute;
    left: 50.5194vw;
    top: 62.7272vw;
    width: 33.7662vw;
    height: 9.3506vw;
    font-size: 2.5974vw;
  }
  main {
    margin-bottom: 15.5844vw;
  }
  .text-image {
    margin-top: 15.5844vw;
    width: 89.4805vw;
    display: grid;
    grid-template-columns: 36.3636vw 51.6883vw;
    grid-column-gap: 1.4285vw;
  }
  .main-image {
    display: none;
  }
  .tablet-main-image {
    display: block;
  }
  .main-text p {
    color: var(--grey);
    padding-top: 2.2222vw;
    padding-right: 8.8311vw;
  }
  h2 {
    font-size: 6.4935vw;
    line-height: 5.844vw;
  }
  .desktop-h2 {
    display: none;
  }
  .tablet-h2 {
    display: block;
  }
  .only-images {
    margin-top: 2.083333vw;
    width: 89.4805vw;
    display: grid;
    grid-template-columns: 51.68831vw 36.3636vw;
    grid-template-rows: 40.6493vw 51.4285vw;
    grid-column-gap: 2.083333vw;
    grid-row-gap: 1.4285vw;
  }
  .left-img {
    display: none;
  }
  .tablet-left-img {
    display: block;
    width: 51.6883vw;
    height: 93.5064vw;
  }
  .right-image {
    display: none;
  }
  .tablet-right-image {
    display: block;
    height: 40.6493vw;
    width: 36.3636vw;
  }
  .right-text {
    height: 51.4285vw;
    width: 36.3636vw;
  }
  .right-text h2 {
    color: white;
    padding-top: 11.0389vw;
    padding-left: 3.3333vw;
  }
  .right-text p {
    padding-right: 3.1168vw;
  }
  footer {
    height: 28.052vw;
    align-items: flex-start;
    padding-top: 7.2727vw;
  }
  footer p {
    display: flex;
    width: 36.493vw;
    padding-left: 27.7922vw;
    position: absolute;
    font-size: 2.078vw;
    line-height: 3.3766vw;
  }
  .footer-logo {
    padding-left: 5.065vw;
    width: 14.286vw;
    height: 5.195vw;
  }
  .fb,
  .insta,
  .twitter {
    top: 7.2727vw;
  }
  .insta {
    right: 11.5vw;
  }
  .twitter {
    right: 5.194vw;
  }
  .tablet-loc-image {
    display: block;
    width: 100%;
    height: 77.922vw;
  }
  .loc-image {
    display: none;
  }
  .loc-button {
    position: absolute;
    left: 5.0649vw;
    top: 0;
  }
  .loc-black {
    height: 56.6233vw;
    grid-template-columns: 40% 60%;
  }
  .loc-h2 {
    padding-left: 5.065vw;
    padding-top: 11.428vw;
  }
  .loc-h3 {
    padding-top: 11.428vw;
  }
  .loc-p {
    font-size: 2.337vw;
    line-height: 3.6363vw;
    padding-top: 2.597vw;
  }
  .address p {
    padding-top: 2.597vw;
    padding-right: 5.195vw;
  }
  .loc-p2 {
    display: none;
  }
  .tablet-loc-p2 {
    display: block;
  }
  .loc-insta {
    right: 11.5vw;
  }
  .loc-twitter {
    right: 5.194vw;
  }
  .loc-insta,
  .loc-twitter,
  .loc-fb {
    top: 7.272vw;
  }
}
@media screen and (max-width: 480px) {
  .tablet-header-image {
    display: none;
  }
  header {
    display: flex;
    justify-content: flex-start;
    height: 168vw;
  }
  h1 {
    padding-top: 0;
  }
  .tablet-h1 {
    width: 91.4666vw;
    top: 72.533vw;
    left: -35vw;
    font-size: 16vw;
    line-height: 14.666vw;
  }
  .mob-header-image {
    display: block;
    width: 100%;
    height: 64vw;
  }
  .header-text {
    font-size: 4.8vw;
    line-height: 7.466vw;
    width: 91.466vw;
    height: 29.866vw;
    left: 3.7vw;
    top: 110.4vw;
  }
  .header-text p {
    font-size: 4.8vw;
    line-height: 7.466vw;
  }
  .button {
    position: absolute;
    left: 3.7vw;
    top: 148.8vw;
    width: 69.3333vw;
    height: 19.2vw;
    font-size: 5.333vw;
  }
  main {
    display: none;
  }
  .mob-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 32vw;
    /* margin-top: 32vw; */
    padding-left: 2.8vw;
  }
  .mob-image-1 {
    width: 91.466vw;
    height: 85.333vw;
    margin-bottom: 6.66vw;
    display: block;
  }
  h4 {
    font-family: "Big Shoulders Display";
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    color: var(--black);
    display: block;
    margin-bottom: 6.66vw;
  }
  .mob-image-2 {
    width: 91.466vw;
    height: 128vw;
    margin-bottom: 6.66vw;
  }
  .mob-image-3 {
    margin-bottom: 6.66vw;
    height: 53.33vw;
    width: 91.466vw;
  }
  .mob-black {
    background: var(--black);
    height: 78.133vw;
    width: 91.466vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 6.4vw;
  }
  .mob-black h4 {
    color: white;
  }
  .mob-text-2 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: white;
    width: 78.66vw;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 89.6vw;
    padding-left: 8.533vw;
  }
  .footer-logo {
    width: 29.33vw;
    margin-bottom: 10.133vw;
    padding-left: 0;
    padding-top: 4.266vw;
    height: 10.666vw;
  }
  .mob-footer-p {
    width: 82.933vw;
    height: 27.733vw;
    font-size: 4.266vw;
    line-height: 6.933vw;
    position: static;
    padding-left: 0;
  }
  .fb,
  .insta,
  .twitter {
    margin-top: 71.466vw;
  }
  .fb {
    left: 8.533vw;
  }
  .insta {
    left: 19.2vw;
  }
  .twitter {
    left: 29.866vw;
  }
  .tablet-loc-image {
    display: none;
  }
  .mob-loc-image {
    display: block;
  }
  .button {
    top: 0;
    left: 0;
    font-size: 5.33vw;
    line-height: 6.4vw;
    letter-spacing: 0.968vw;
  }
  .loc-black {
    display: none;
  }
  .mob-loc-black {
    display: flex;
    height: 131.466vw;
    background: var(--black);
    flex-direction: column;
    align-items: flex-start;
    padding-left: 4.266vw;
    color: white;
    padding-top: 12.8vw;
  }
  .mob-loc-1 {
    font-family: "Big Shoulders Display";
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
  }
  .mob-loc-2 {
    padding-top: 12.8vw;
    font-family: "Big Shoulders Display";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    color: var(--brick);
  }
  .mob-loc-3 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 300;
    font-size: 4.8vw;
    line-height: 7.466vw;
    padding-top: 12.8vw;
  }
  .mob-loc-4 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 300;
    font-size: 4.8vw;
    line-height: 7.466vw;
    padding-top: 12.8vw;
    width: 91.466vw;
  }
  .loc-footer {
    display: flex;
    flex-direction: column;
  }
}
